[Parole Plugin]
Module=parole-notify
Name=Notify
Name[ar]=إشعار
Name[ast]=Notificar
Name[be]=Апавяшчэнне
Name[bg]=Уведомление
Name[ca]=Notifica
Name[cs]=Oznámení
Name[da]=Underret
Name[de]=Benachrichtigen
Name[el]=Ειδοποίηση
Name[en_AU]=Notify
Name[en_GB]=Notify
Name[es]=Notificar
Name[et]=Teavita
Name[eu]=Berri-eman
Name[fi]=Ilmoitukset
Name[fr]=Notifications
Name[gl]=Notificar
Name[he]=מתריע
Name[hr]=Obavijesti
Name[hu]=Értesítés
Name[hy_AM]=Ծանուցել
Name[hye]=Ծանուցել
Name[id]=Pemberitahuan
Name[ie]=Notificar
Name[is]=Tilkynna
Name[it]=Notifica
Name[ja]=通知
Name[kk]=Хабарлау
Name[ko]=알림
Name[lt]=Rodyti pranešimus
Name[ms]=Makluman
Name[nb]=Varsle
Name[nl]=Melden
Name[oc]=Avisar
Name[pl]=Powiadomienia
Name[pt]=Notificações
Name[pt_BR]=Notificar
Name[ru]=Уведомить
Name[sk]=Oznámenie
Name[sl]=Obvesti
Name[sq]=Njoftime
Name[sr]=Обавештења
Name[sv]=Meddela
Name[th]=แจ้งเหตุ
Name[tr]=Bildirim
Name[ug]=ئۇقتۇرۇش
Name[uk]=Повідомляти
Name[zh_CN]=通知
Name[zh_TW]=通知
Description=Show notifications for currently playing tracks
Description[ar]=عرض الإشعارات للمقاطع المشغلة حاليا
Description[ast]=Amosar notificaciones de les pistes reproduciéndose anguaño
Description[be]=Паказваць апавяшчэнні для бягучых трэкаў
Description[bg]=Показване на уведомления за текущо изпълняваните файлове
Description[ca]=Mostra notificacions per a les pistes que s'estan reproduint
Description[cs]=Zobrazit oznámení pro právě přehrávané stopy.
Description[da]=Vis underretninger for spor som afspilles
Description[de]=Benachrichtigungen für gerade laufende Titel anzeigen
Description[el]=Εμφάνιση ειδοποιήσεων για τα τρέχοντα αναπαραγόμενα κομμάτια
Description[en_AU]=Show notifications for currently playing tracks
Description[en_GB]=Show notifications for currently playing tracks
Description[es]=Mostrar notificaciones para la lista de reproducción actual
Description[et]=Näita hetkel esitatavate lugude kohta teavitusi
Description[eu]=Erreproduzitzen diren pisten berri-emateak ikusi
Description[fi]=Näytä ilmoitukset toistetuille kappaleille
Description[fr]=Afficher les notifications des pistes en cours de lecture
Description[gl]=Amosar notificacións das pistas en reprodución
Description[he]=הצג התראות לרצועות המנוגנות ברגע נתון
Description[hr]=Pokaži obavijest za trenutno izvođene zapise
Description[hu]=Értesítések megjelenítése az éppen játszott számokhoz
Description[hy_AM]=Ցուցադրել ծանուցումներ ներկայ նուագուող երգերի համար
Description[hye]=Ցուցադրել ծանուցումներ ներկայ նուագուող երգերի համար
Description[id]=Tampilkan pemberitahuan untuk trek yang sedang dimainkan
Description[ie]=Monstrar notificationes por reproductent tracks
Description[is]=Birta upplýsingar um spilandi lög í tilkynningakerfi
Description[it]=Mostra le notifiche sui brani in esecuzione
Description[ja]=現在再生中のトラックの通知を表示します
Description[kk]=Ағымдағы ойналып тұрған тректер туралы хабарлауды қолдану
Description[ko]=현재 재생죽인 트랙에 대한 알림 표시
Description[lt]=Rodyti pranešimus apie šiuo metu grojamus takelius
Description[ms]=Tunjuk pemberitahuan untuk trek semasa dimainkan
Description[nb]=Vis varsler for låter som avspilles
Description[nl]=Toon meldingen voor thans spelende nummers
Description[oc]=Afichar las notificacions de la lista de lectura actuala
Description[pl]=Wyświetla powiadomienia o odtwarzanych ścieżkach
Description[pt]=Mostrar notificação para as faixas em reprodução
Description[pt_BR]=Mostrar notificações para as faixas em reprodução
Description[ru]=Показывать уведомления для текущих треков
Description[sk]=Zobrazí oznámenia pre aktuálne prehrávané stopy
Description[sl]=Prikaži obvestila za trenutno predvajane skladbe
Description[sq]=Shfaq njoftime për pjesët që luhen në atë çast
Description[sr]=Приказуј обавештења о тренутно извођеним датотекама
Description[sv]=Visa meddelanden för spår som spelas
Description[th]=แสดงการแจ้งเหตุเพื่อบอกร่องปัจจุบันที่เล่นอยู่
Description[tr]=Çalınmakta olan parçalar için bildirimleri göster
Description[uk]=Показати повідомлення про поточну доріжку
Description[zh_CN]=显示正在播放曲目的通知
Description[zh_TW]=顯示目前播放中軌道的通知
Authors=Sean Davis <bluesabre@xfce.org>
Website=https://docs.xfce.org/apps/parole/start
