[Parole Plugin]
Module=tray-icon
Name=Tray icon
Name[ar]=أيقونة مصغرات الشريط
Name[ast]=Iconu de bandexa
Name[be]=Значок на прасторы апавяшчэнняў
Name[bg]=Икона в системната табла
Name[ca]=Icona de la safata
Name[cs]=Ikona v oznamovací oblasti
Name[da]=Bakkeikon
Name[de]=Symbol im Benachrichtigungsfeld
Name[el]=Εικονίδιο περιοχής ειδοποιήσεων
Name[en_AU]=Tray icon
Name[en_GB]=Tray icon
Name[es]=Icono en el área de notificación
Name[et]=Süsteemisalve ikoon
Name[eu]=Erretilu ikonoa
Name[fi]=Ilmoitusaluekuvake
Name[fr]=Icône de la zone de notification
Name[gl]=Icona de zona de notificación
Name[he]=סמל מגש
Name[hr]=Ikona u sistemskom pladnju
Name[hu]=Tálcaikon
Name[hy_AM]=Դարակի պատկերակ
Name[hye]=Դարակի պատկերակ
Name[id]=Ikon baki
Name[ie]=Icone de notification
Name[is]=Táknmynd í kerfisbakka
Name[it]=Icona di vassoio
Name[ja]=トレイアイコン
Name[kk]=Трей таңбашасы
Name[ko]=표시줄 아이콘
Name[lt]=Dėklo piktograma
Name[lv]=Paziņojuma joslas ikona
Name[ms]=Ikon talam
Name[nb]=Systemkurv-ikon
Name[nl]=Systeemvakpictogram
Name[nn]=Trauikon
Name[oc]=Icòna de la zòna de notificacion
Name[pl]=Ikona obszaru powiadamiania
Name[pt]=Ícone na área de notificação
Name[pt_BR]=Ícone na bandeja
Name[ru]=Значок в системном лотке
Name[sk]=Ikona v oznamovacej oblasti
Name[sl]=Ikona sistemske vrstice
Name[sq]=Ikonë paneli
Name[sr]=Иконица обавештајне области
Name[sv]=Ikon i systembricka
Name[th]=ไอคอนถาด
Name[tr]=Sistem çekmecesi simgesi
Name[ug]=قونداق سىنبەلگىسى
Name[uk]=Значок в системному лотку
Name[zh_CN]=托盘图标
Name[zh_TW]=系統匣圖示
Description=Show icon in the system tray
Description[ar]=عرض أيقونة في مصغرات شريط النظام
Description[ast]=Amosar iconu na estaya de la bandexa del sistema
Description[be]=Паказваць значок на прасторы апавяшчэнняў
Description[bg]=Показване на икона в системната табла
Description[ca]=Mostra la icona a la safata del sistema
Description[cs]=Zobrazovat ikonu v oznamovací oblasti
Description[da]=Vis ikon i systembakken
Description[de]=Symbol im Benachrichtigungsfeld anzeigen
Description[el]=Εμφάνιση εικονιδίου στην περιοχή ειδοποιήσεων
Description[en_AU]=Show icon in the system tray
Description[en_GB]=Show icon in the system tray
Description[es]=Mostrar el icono en el área de notificación
Description[et]=Näita ikooni süsteemisalves
Description[eu]=Ikusi ikonoa sistema erretiluan
Description[fi]=Näytä kuvake ilmoitusalueella
Description[fr]=Afficher l’icône dans la zone de notification
Description[gl]=Amosar a icona na zona do systema
Description[he]=הצג סמל במגש מערכת
Description[hr]=Pokazuj ikonu u sistemskom pladnju
Description[hu]=Ikon megjelenítése a rendszertálcán
Description[hy_AM]=Ցուցադրել պատկերակ համակարգի դարակում
Description[hye]=Ցուցադրել պատկերակ համակարգի դարակում
Description[id]=Tampilkan ikon di baki sistem
Description[ie]=Monstrar icone in li area de notificationes
Description[is]=Birta táknmynd í kerfisbakka
Description[it]=Mostra l'icona nel vassoio di sistema
Description[ja]=システムトレイにアイコンを表示します
Description[kk]=Жүйелік трейде таңбашаны көрсету
Description[ko]=시스템 표시줄에 아이콘 보기
Description[lt]=Rodyti piktogramą sistemos dėkle
Description[lv]=Rādīt ikonu paziņojumu joslā
Description[ms]=Tunjuk ikon dalam talam sistem
Description[nb]=Vis ikon i systemkurv
Description[nl]=Toon pictogram in het systeemvak
Description[nn]=Vis ikonet i systemtrauet
Description[oc]=Far veire una icòna dins la zòna de notificacion
Description[pl]=Wyświetla ikonę w obszarze powiadamiania
Description[pt]=Mostrar ícone na área de notificação
Description[pt_BR]=Mostrar ícone na bandeja do sistema.
Description[ru]=Показать значок плеера в системном лотке
Description[sk]=Zobrazí ikonu v systémovej lište
Description[sl]=Pokaži ikono v sistemski vrstici
Description[sq]=Shfaq ikonë te paneli i sistemit
Description[sr]=Прикажи иконицу у обавештајној области
Description[sv]=Visa ikon i systembrickan
Description[th]=แสดงไอคอนในถาดระบบ
Description[tr]=Sistem çekmecesinde simge göster
Description[ug]=سىنبەلگىنى سىستېما قوندىقىدا كۆرسەت
Description[uk]=Відображати значок в системному лотку
Description[zh_CN]=在系统托盘显示图标
Description[zh_TW]=在系統匣顯示圖示
Authors=Ali Abdallah <aliov@xfce.org>
Website=https://docs.xfce.org/apps/parole/start
