[Parole Plugin]
Module=parole-mpris2
Name=MPRIS2
Name[ar]=MPRIS2
Name[ast]=MPRIS2
Name[be]=MPRIS2
Name[bg]=MPRIS2
Name[ca]=MPRIS2
Name[cs]=MPRIS2
Name[da]=MPRIS2
Name[de]=MPRIS2
Name[el]=MPRIS2
Name[en_AU]=MPRIS2
Name[en_GB]=MPRIS2
Name[es]=MPRIS2
Name[et]=MPRIS2
Name[eu]=MPRIS2
Name[fi]=MPRIS2
Name[fr]=MPRIS2
Name[gl]=MPRIS2
Name[he]=MPRIS2
Name[hr]=MPRIS2
Name[hu]=MPRIS2
Name[hy_AM]=MPRIS2
Name[hye]=MPRIS2
Name[id]=MPRIS2
Name[ie]=MPRIS2
Name[is]=MPRIS2
Name[it]=MPRIS2
Name[ja]=MPRIS2
Name[kk]=MPRIS2
Name[ko]=MPRIS2
Name[lt]=MPRIS2
Name[ms]=MPRIS2
Name[nb]=MPRIS2
Name[nl]=MPRIS2
Name[pl]=MPRIS2
Name[pt]=MPRIS2
Name[pt_BR]=MPRIS2
Name[ru]=MPRIS2
Name[sk]=MPRIS2
Name[sl]=MPRIS2
Name[sq]=MPRIS2
Name[sr]=МПРИС2
Name[sv]=MPRIS2
Name[th]=MPRIS2
Name[tr]=MPRIS2
Name[uk]=MPRIS2
Name[zh_CN]=MPRIS2
Name[zh_TW]=MPRIS2
Description=MPRIS2 remote control
Description[ar]=MPRIS2 التحكم من بعد
Description[ast]=Control remotu MPRIS2
Description[be]=MPRIS2 адлеглае кіраванне
Description[bg]=MPRIS2 дистанционен контрол
Description[ca]=Control remot MPRIS2
Description[cs]=Dálkové ovládání MPRIS2
Description[da]=MPRIS2-fjernbetjening
Description[de]=MPRIS2-Fernsteuerung
Description[el]=Τηλεχειριστήριο MPRIS2
Description[en_AU]=MPRIS2 remote control
Description[en_GB]=MPRIS2 remote control
Description[es]=Control remoto MPRIS2
Description[et]=MPRIS2-põhine kaugjuhtimislahendus
Description[eu]=MPRIS2 urrutiko kontrola
Description[fi]=MPRIS2-etäohjaus
Description[fr]=Contrôle à distance MPRIS2
Description[gl]=Control remoto MPRIS2
Description[he]=שלט רחוק MPRIS2
Description[hr]=MPRIS2 daljinski upravljač
Description[hu]=MPRIS2 távírányítás
Description[hy_AM]=MPRIS2 Հեռակառավարում
Description[hye]=MPRIS2 Հեռակառավարում
Description[id]=Kontrol remot MPRIS2
Description[ie]=Telecomande MPRIS2
Description[is]=MPRIS2 fjarstýring
Description[it]=Telecomando MPRIS2
Description[ja]=MPRIS2 リモートコントロール
Description[kk]=MPRIS2 қашықтан басқару
Description[ko]=MPRIS2 원격 제어
Description[lt]=MPRIS2 nuotolinis valdymas
Description[ms]=Kawalan jauh MPRIS2
Description[nb]=MPRIS2-fjernkontroll
Description[nl]=MPRIS2 afstandsbediening
Description[pl]=Zdalne sterowanie MPRIS2
Description[pt]=Controlo remoto MPRIS2
Description[pt_BR]=Controle remoto MPRIS2
Description[ru]=MPRIS2 удалённое управление
Description[sk]=Ďiaľkové ovládanie MPRIS2
Description[sl]=MPRIS2 daljinsko upravljanje
Description[sq]=Kontroll së largëti MPRIS2
Description[sr]=Даљинско управљање МПРИС2
Description[sv]=MPRIS2-fjärrkontroll
Description[th]=รีโมทคอนโทรล MPRIS2
Description[tr]=MPRIS2 uzaktan kumanda
Description[uk]=Пульт управління MPRIS2
Description[zh_CN]=MPRIS2 远程控制
Description[zh_TW]=MPRIS2 遙控
Authors=Matias De Lellis <mati86dl@gmail.com>, Hakan Erduman <smultimeter@gmail.com>
Website=https://docs.xfce.org/apps/parole/start
